body {
    font-family: 'Roboto', sans-serif;
    /* background-image: url(https://i.pinimg.com/originals/68/24/60/6824606e11693ae715d4d83895bf7dc4.jpg); */
    /* background-image: url(https://image.freepik.com/free-vector/abstract-background_53876-43362.jpg); */
    background-image: url(https://wallpaperaccess.com/full/280877.png);
    background-size: cover;

}

.container{
    margin: auto;
    /* padding-bottom:100px;     */
}

.login-box {
    margin-top: 75px;
    height: auto;
    background: #140c42;
    text-align: center;
    box-shadow: 0 3px 6px rgba(3, 3, 120, 0.939), 0 3px 6px rgba(12, 47, 154, 0.972);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: linear-gradient(#27EF9F, #0DB8DE);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    /* -webkit-box-shadow: none; */
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
    
}

.form-control-label {
    font-size: 0.8rem;
    /* color: #6C6C6C; */
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(220, 212, 212);
    font-weight: 500 !important;
}

.login-btm {
    justify-content: center !important;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
    justify-content: center;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

