<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    {{!-- <form action="/product/add" method="POST">
        Name: <input type="text" name="name" id="name"><br><br>
        Company Name: <input type="text" name="companyname"><br><br>
        Cost Price: <input type="number" name="costprice"><br><br>
        Selling Price: <input type="number" name="sellingprice"><br><br>
        Quantity: <input type="number" name="quantity"><br><br>
        Description: <input type="text" name="description"><br><br>
        Upload Product Pic : <input type="file" accept="image/*" name="photo" id="photo"><br><br>
        <button type="submit" id="submit">Add Product</button>
    </form> --}}
     {{!-----------------------------------------------------------------Navbar---------------------------------------------------------------------------- --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbarBrand col-md-3 text-center">Inventory Manager</a>
        
        <div class="collapse navbar-collapse justify-content-end" id="navContent">
            <ul class="navbar-nav">
                 <li class="nav-item">
                    <a class="nav-link text-center"  href="/admin/profile">Profile View</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="/admin/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container" id="add">
        <form action="/product/add" method="POST" class="bg-white add">
            Name: <input type="text" name="name" id="name"><br><br>
            Company Name: <input type="text" name="companyname"><br><br>
            Cost Price: <input type="number" name="costprice"><br><br>
            Selling Price: <input type="number" name="sellingprice"><br><br>
            Quantity: <input type="number" name="quantity"><br><br>
            Description: <input type="text" name="description"><br><br>
            Upload Product Pic : <input type="file" accept="image/*" name="photo" id="photo" class="btn"><br><br>
            <button type="submit" id="submit" class="btn red darken-2">Add Product</button>
        </form>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="../../consumer/profile/addProd.js"></script>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../../admin/addproduct/script.js"></script>
</body>
</html>