
 #add{
    margin: 20px;
    /* background-image: url(https://cdn.hipwallpaper.com/i/15/96/oEy7sA.jpg); */
    background-image: url(../../Images/addProduct.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.449);
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px black;
    padding: 20px;
}

.add{
    padding: 20px;
}

input[type=file]{
    border-radius: 4px; 
    background-color: black ;
}